
*{
    margin: 0px;
    padding: 0px;
}
section
{
    width: 98%;
    margin: auto;
}
section .food 
{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6,209px);
    column-gap: 10px;
    padding: 15px 10px;
    row-gap: 10px;
}
section .cards
{
    /* height: 380px; */
    background-color: rgb(232, 236, 240);
    padding:7px 0px;
} 
/* section .food .foodlist 
{
    background-color: rgb(232, 236, 240);
    height:350px;
} */
section .food .foodlist .foodimg 
{
    height: 210px;
    width: 190px;
    margin: 5px auto;
    overflow: hidden;
}
section .food .foodlist .foodimg img
{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition:2.2s;
}
section .food .foodlist .foodimg img:hover
{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}
